div.roadmap_container {
  position: relative;
  width: calc(100% - 40px);
  min-height: calc(100vh - 225px);
  margin-left: auto;
  margin-right: auto;
  background-color: #0e0e14;

  div.roadmap {
    display: flex;

    gap: 2rem;

    div.roadmap_info {
      flex-shrink: 0;
      flex-grow: 1;
      justify-content: center;
      margin-bottom: 10px;
    }
    div.roadmap_legend {
      flex: 0 1 50%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;

      div.progress {
        flex: 1;
        margin-bottom: 25px;
      }
      div.map {
        padding: 20px;
        flex: 1 1 40%;
      }
    }
  }
}

.hero_bottom_svg {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0px;
  z-index: 100;
}
@media only screen and (max-width: 1280px) {
  div.roadmap_legend {
    flex-direction: column;
  }
}

@media only screen and (max-width: 40em) {
  div.roadmap {
    width: calc(100% - 20px);
    flex-direction: column;
  }
}
