.cyber_logo {
  position: absolute;
  width: 20%;
  height: auto;
  right: 80px;
  margin-top: 20px;
}
.cyber_hand {
  width: 100%;
  height: auto;
  bottom: 0px;
  margin-top: 20px;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
}
