div.roadmap_info {
  position: relative;
  height: auto;
  background-color: #0e0e14;
  display: grid;
  grid-template-columns: 1fr;

  h2 {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  div.tasks_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.grid-col-3-span {
  grid-column: 3;
}
