

div.fixed_top {
    position : fixed;
    background-color : black;
    width : calc(100% - 40px);
    height : 70px;
    left : 20px;
    right : 20px;
    top : 20px;
    z-index : 201;

    div.logo {
      position : relative;
      height : 50px;
      margin-top : 10px;
      width : 262px;
      margin-left : 10px;

      a {
        display : block;
        width : 100%;
        height : 100%;



        img.logo_first {
          float : left;
          display : block;
          width : 50px;
          height : 50px;
        }

        img.logo_second {
          position : absolute;
          top : 0px;
          left : 0px;
          width : 50px;
          height : 50px;
        }


        img.logo_text {
          float : left;
          display : block;
          margin-left : 10px;
        }
      }
    }

    div.logo:hover > a > img.logo_first {
      -webkit-animation:spin 0.5s linear forwards;
      -moz-animation:spin 0.5s linear forwards;
      animation:spin 0.5s linear forwards;

    }


    div.buttons_container_bg {
      position : absolute;
      top : -10px;
      right : 0px;
      height : 80px;
      width : calc(#{$uniswap_btn_width} + #{$menu_btn_width});
      
      span {
        display : block;
        width : 100%;
        height : 100%;
        img {
          position : relative;
          display : block;
          width : 60px;
          height : auto;
          margin-left : 30px;
        }
      }
    }

    div.buttons_container {
      position : absolute;
      top : -10px;
      right : 0px;
      height : 80px;
      background-color : white;
      clip-path: polygon(0% 100%, 70px 0%, 100% 0%, 100% 100%);

      div.uniswap_btn {
        position : relative;
        width : $uniswap_btn_width;
        height : 100%;
        background-color : $yellow;
        float : left;
        clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
        -webkit-animation:increaseSwapOut 0.2s linear forwards;
        -moz-animation:increaseSwapOut 0.2s linear forwards;
        animation:increaseSwapOut 0.2s linear forwards;


        a{
          display : block;
          width : 100%;
          height : 100%;
          
          span.image {
            position : relative;
            display : block;
            width : 60px;
            height : auto;
            margin-left : 30px;
            float : left;

            img {
              width : 100%;
              height : 100%;
              display : block;
            }
          }

          span.text {
            position : relative;
            display : block;
            font-size : 30px;
            color : $btn_color;
            height : 80px;
            font-weight: bold;
            margin-left : 15px;
            float : left;
            line-height : 80px;

        

            span.text_opacity {
              position : relative;
              opacity : 0;
            }



            span.absolute {
              position : absolute;
              display : block;
              width : 100%;
              height : 36px;
              top : 22px;
              line-height : 36px;
              left : 0px;
            }

            span.text_p1 {
              clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
            }

            span.text_p2 {
              clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
            }

            span.text_p3 {
              clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
            }


          }
        }
      }


      div.uniswap_btn:hover {
        -webkit-animation:increaseSwapIn 0.2s linear forwards;
        -moz-animation:increaseSwapIn 0.2s linear forwards;
        animation:increaseSwapIn 0.2s linear forwards;
      }



      div.menu_btn {
        position : relative;
        width : $menu_btn_width;
        height : 100%;
        float : left;

        span.btn {
          display : block;
          position : relative;
          width : 100%;
          height : 100%;
          line-height : 80px;
          font-size : 22px;
          cursor : pointer;
          font-family : $secondFont;
          color : $btn_color;
          z-index : 2;
        }

        span.loading_container {
            position : absolute;
            bottom : 18px;
            width : 100px;
            height : 5px;
            display : flex;
            justify-content : space-between;
            opacity : 0;
            z-index : 1;

            span {
                display : block;
                width : 18px;
                height : 100%;
                background-color : $yellow;
                opacity : 0;
            }


        }

      }

        div.menu_btn:hover > span.loading_container {
            opacity : 1;
        }

        div.menu_btn:hover > span.loading_container > span {
            -webkit-animation-duration : 1.4s;
            -moz-animation-duration : 1.4s;
            animation-duration : 1.4s;

            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
            animation-timing-function: linear;

            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        }

        div.menu_btn:hover > span.loading_container > span.load1 {
            -webkit-animation-name: fadein1;
            -moz-animation-name: fadein1;
            animation-name: fadein1;
        }

        div.menu_btn:hover > span.loading_container > span.load2 {
            -webkit-animation-name: fadein2;
            -moz-animation-name: fadein2;
            animation-name: fadein2;
        }

        div.menu_btn:hover > span.loading_container > span.load3 {
            -webkit-animation-name: fadein3;
            -moz-animation-name: fadein3;
            animation-name: fadein3;
        }

        div.menu_btn:hover > span.loading_container > span.load4 {
            -webkit-animation-name: fadein4;
            -moz-animation-name: fadein4;
            animation-name: fadein4;
        }


        div.menu_btn:hover > span.loading_container > span.load5 {
            -webkit-animation-name: fadein5;
            -moz-animation-name: fadein5;
            animation-name: fadein5;
        }


      div.uniswap_white {
        position : absolute;
        top : 0px;
        right : $menu_btn_width;
        width : 30px;
        height : 100%;
        background-color : white;
        clip-path: polygon(100% 0%, 100% 100%, 0 100%);
      }
    }







 }
  





// Animations

// Logo

@-moz-keyframes spin { 
  0% {-moz-transform: rotate(0deg);}
  50% {-moz-transform: rotate(20deg);}
  100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin { 
    0% { -webkit-transform: rotate(0deg); } 
    50% { -webkit-transform: rotate(20deg); } 
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin { 
    0% { 
      -webkit-transform: rotate(0deg); 
      transform:rotate(0deg); 
    } 
    50% { 
      -webkit-transform: rotate(20deg); 
      transform:rotate(20deg); 
    } 
    100% { 
        -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
    } 
}


// Uniswap

@-moz-keyframes increaseSwapIn { 
  0% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));}
  100% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%); } 
}
@-webkit-keyframes increaseSwapIn { 
    0% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));} 
    100% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);} 
}
@keyframes increaseSwapIn { 
    0% { 
      clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
    } 
    100% { 
      clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
    } 
}


@-moz-keyframes increaseSwapOut { 
  0% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%); } 
  100% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));}
  
}
@-webkit-keyframes increaseSwapOut { 
    0% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);} 
    100% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));} 

}
@keyframes increaseSwapOut { 
    0% { 
      clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
    } 
    100% { 
      clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
    } 

}


// Menu Button

    // fade 1
@-webkit-keyframes fadein1 {
    0% { opacity: 0; }
    20% { opacity: 0.2; }
    100% {opacity: 0.2;}
}

@-moz-keyframes fadein1 {
    0% { opacity: 0; }
    20% { opacity: 0.2; }
    100% {opacity: 0.2;}
}

@keyframes fadein1 {
    0% { opacity: 0; }
    20% { opacity: 0.2; }
    100% {opacity: 0.2;}
}


    // fade 2
@-webkit-keyframes fadein2 {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.4; }
    100% {opacity: 0.4;}
}

@-moz-keyframes fadein2 {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.4; }
    100% {opacity: 0.4;}
}

@keyframes fadein2 {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.4; }
    100% {opacity: 0.4;}
}


    // fade 3
@-webkit-keyframes fadein3 {
    0% { opacity: 0; }
    40% {opacity : 0;}
    60% {opacity : 0.6;}
    100% { opacity: 0.6; }
}

@-moz-keyframes fadein3 {
    0% { opacity: 0; }
    40% {opacity : 0;}
    60% {opacity : 0.6;}
    100% { opacity: 0.6; }
}

@keyframes fadein3 {
    0% { opacity: 0; }
    40% {opacity : 0;}
    60% {opacity : 0.6;}
    100% { opacity: 0.6; }
}


    // fade 4
@-webkit-keyframes fadein4 {
    0% { opacity: 0; }
    60% {opacity : 0;}
    80% {opacity : 0.8;}
    100% { opacity: 0.8; }
}

@-moz-keyframes fadein4 {
    0% { opacity: 0; }
    60% {opacity : 0;}
    80% {opacity : 0.8;}
    100% { opacity: 0.8; }
}

@keyframes fadein4 {
    0% { opacity: 0; }
    60% {opacity : 0;}
    80% {opacity : 0.8;}
    100% { opacity: 0.8; }
}


    // fade 5
@-webkit-keyframes fadein5 {
    0% { opacity: 0; }
    80% {opacity : 0;}
    100% { opacity: 1; }
}

@-moz-keyframes fadein5 {
    0% { opacity: 0; }
    80% {opacity : 0;}
    100% { opacity: 1; }
}

@keyframes fadein5 {
    0% { opacity: 0; }
    80% {opacity : 0;}
    100% { opacity: 1; }
}