:root {
  --var-mainFont: "gemunu";
  --var-secondFont: "terminator";
  --var-mainBg: #222431;
  --var-yellow: #ffbc32;
  --var-yellow_bright: #ffedc9;
  --var-btn_color: #171822;
  --var-uniswap_btn_width: 245px;
  --var-menu_btn_width: 120px;
}
