:root {
  --var-mainFont: "gemunu";
  --var-secondFont: "terminator";
  --var-mainBg: #222431;
  --var-yellow: #ffbc32;
  --var-yellow_bright: #ffedc9;
  --var-btn_color: #171822;
  --var-uniswap_btn_width: 340px;
  --var-menu_btn_width: 120px;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(20deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

// Uniswap

@-moz-keyframes increaseSwapIn {
  0% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
}
@-webkit-keyframes increaseSwapIn {
  0% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
}
@keyframes increaseSwapIn {
  0% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
}

@-moz-keyframes increaseSwapOut {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
}
@-webkit-keyframes increaseSwapOut {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
}
@keyframes increaseSwapOut {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
}

// Menu Button

// fade 1
@-webkit-keyframes fadein1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fadein1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

// fade 2
@-webkit-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

// fade 3
@-webkit-keyframes fadein3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

@-moz-keyframes fadein3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

// fade 4
@-webkit-keyframes fadein4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes fadein4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadein4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

// fade 5
@-webkit-keyframes fadein5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
