.btn {
  .indigo_container {
    position: relative;
    display: block;
    font-family: var(--var-mainFont);
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: "gemunu";
    height: 32px;
    line-height: 32px;
    z-index: 2;
    cursor: pointer;

    span.indigo {
      position: absolute;
      left: 20px;
      height: 100%;
      width: calc(100% - 40px);
      display: block;
      font-family: var(--var-mainFont);
      font-size: 24px;
      top: 0px;
    }

    span.indigo_1 {
      clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
    }

    span.indigo_2 {
      clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
    }

    span.indigo_3 {
      clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
    }
    span.brackets {
      position: absolute;
      color: white;
      top: -2px;
      font-family: var(--var-mainFont);
      font-size: 36px;
      line-height: 32px;
      z-index: 4;
      display: block;
      transition: all 0.2s;
    }
  }
}
