div.document_el {
  display: flex;
  gap: 20px;
  background-color: rgba(34, 36, 49, 0.4);
  padding: 20px;
  align-items: center;

  div.document_content {
    position: relative;

    div.pdf_title {
      display: inline-block;
      position: relative;
      font-size: 22px;
      color: white;
    }

    div.pdf_title:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      height: 2px;
      width: 100%;
      background-color: #ffbc32;
    }

    div.doc_description {
      position: relative;
      font-size: 18px;
      color: white;
      margin-top: 10px;
      text-align: justify;
    }
  }

  div.doc_vertical_line {
    width: 2px;
    height: 100%;
    background-color: black;
  }

  div.document_languages {
    width: 300px;
    position: relative;

    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    div.language_btn {
      height: 30px;
      width: 33.33333%;
      background-color: black;
      flex-basis: calc(33.33333% - 7px);

      text-align: center;
      line-height: 30px;
      color: white;
      cursor: default;
      color: #9d9d9d;
      -webkit-clip-path: polygon(
        0% 8px,
        8px 0px,
        100% 0%,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        0px 100%
      );
      clip-path: polygon(
        0% 8px,
        8px 0px,
        100% 0%,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        0px 100%
      );

      a {
        display: block;
        height: 30px;
        width: 100%;
        display: block;
        text-align: center;
        line-height: 30px;
        color: white;
      }

      a:hover {
        color: black;
        background-color: white;
      }
    }
  }
}
