div.fixed_top {
  position: fixed;
  background-color: black;
  width: calc(100% - 40px);
  height: 70px;
  left: 20px;
  right: 20px;
  top: 20px;
  z-index: 401;

  div.logo {
    position: relative;
    height: 60px;
    padding-top: 10px;
    width: 62px;
    margin-left: 10px;

    div.link_logo {
      position: relative;
      display: block;
      width: 100%;
      height: 50px;

      img {
        display: block;
      }

      img.interior_eye {
        position: absolute;
        top: 9px;
        left: 19px;
      }
    }
  }

  div.logo:hover > div.link_logo > img.logo_first {
    -webkit-animation: spin 0.5s linear forwards;
    -moz-animation: spin 0.5s linear forwards;
    animation: spin 0.5s linear forwards;
  }

  div.logo_text {
    position: absolute;
    top: 0px;
    left: 72px;
    height: 62px;

    div.link_text {
      .website {
        position: absolute;
        font-size: 27px;
        height: 36px;
        line-height: 36px;
        padding-left: 10px;
        display: block;
        color: white;
        top: 7px;
      }

      .slogan {
        position: absolute;
        font-size: 19px;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        display: block;
        color: white;
        white-space: nowrap;
        top: 37px;
        font-style: italic;
        letter-spacing: 4px;
      }
    }
  }

  div.mob_shibaswap {
    display: none;
  }

  div.mob_uniswap {
    display: none;
  }

  a.mob_shibaswap_link {
    display: none;
  }

  a.mob_uniswap_link {
    display: none;
  }

  div.shibaswap_buy {
    position: absolute;
    width: 300px;
    height: 70px;
    right: 112px; // 270px // 112px
    top: 0px;
    background-color: white;

    a {
      position: absolute;
      width: 100%;
      height: 70px;
      z-index: 10;

      img.shiba_logo_btn {
        position: absolute;
        width: 50px;
        height: 50px;
        display: block;
        top: 10px;
        left: 20px;
      }

      span.text {
        position: relative;
        display: block;
        font-size: 30px;
        color: var(--var-btn_color);
        height: 70px;
        font-weight: bold;
        margin-left: 80px;
        float: left;
        line-height: 70px;
        opacity: 0;

        span.text_opacity {
          position: relative;
          opacity: 0;
        }

        span.absolute {
          position: absolute;
          display: block;
          width: 100%;
          height: 36px;
          top: 12px;
          line-height: 36px;
          left: 0px;
        }

        span.text_p1 {
          clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
        }

        span.text_p2 {
          clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
        }

        span.text_p3 {
          clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
        }
      }

      span.soon {
        position: absolute;
        bottom: 16px;
        left: 190px;
        color: black;
      }
    }
    div.disabledhref {
      position: absolute;
      width: 100%;
      height: 70px;
      z-index: 10;
      cursor: pointer;

      img.shiba_logo_btn {
        position: absolute;
        width: 50px;
        height: 50px;
        display: block;
        top: 10px;
        left: 20px;
      }

      span.text {
        position: relative;
        display: block;
        font-size: 30px;
        color: var(--var-btn_color);
        height: 70px;
        font-weight: bold;
        margin-left: 80px;
        float: left;
        line-height: 70px;
        opacity: 0;

        span.text_opacity {
          position: relative;
          opacity: 0;
        }

        span.absolute {
          position: absolute;
          display: block;
          width: 100%;
          height: 36px;
          top: 12px;
          line-height: 36px;
          left: 0px;
        }

        span.text_p1 {
          clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
        }

        span.text_p2 {
          clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
        }

        span.text_p3 {
          clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
        }
      }

      span.soon {
        position: absolute;
        bottom: 16px;
        left: 190px;
        color: black;
      }
    }

    div.swap_angle {
      position: absolute;
      width: 71px;
      height: 70px;
      left: -1px;
      top: 0px;
      background-color: black;
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    }
  }

  div.buttons_container_bg {
    position: absolute;
    top: -10px;
    right: 0px;
    height: 80px;
    width: calc(var(--var-uniswap_btn_width) + var(--var-menu_btn_width));

    span {
      display: block;
      width: 100%;
      height: 100%;
      img {
        position: relative;
        display: block;
        width: 60px;
        height: auto;
        margin-left: 30px;
      }
    }
  }

  div.buttons_container {
    position: absolute;
    top: -10px;
    right: 0px;
    height: 80px;
    background-color: white;
    clip-path: polygon(0% 100%, 70px 0%, 100% 0%, 100% 100%);
    z-index: 20;
    div.uniswap_btn {
      position: relative;
      width: var(--var-uniswap_btn_width);
      height: 100%;
      background-color: var(--var-yellow);
      float: left;
      clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
      -webkit-animation: increaseSwapOut 0.2s linear forwards;
      -moz-animation: increaseSwapOut 0.2s linear forwards;
      animation: increaseSwapOut 0.2s linear forwards;

      a {
        display: block;
        width: 100%;
        height: 100%;

        span.image {
          position: relative;
          display: block;
          width: 60px;
          height: auto;
          margin-left: 30px;
          float: left;

          img {
            width: 100%;
            height: 100%;
            display: block;
          }
        }

        span.text {
          position: relative;
          display: block;
          font-size: 30px;
          color: var(--var-btn_color);
          height: 80px;
          font-weight: bold;
          margin-left: 15px;
          float: left;
          line-height: 80px;

          span.text_opacity {
            position: relative;
            opacity: 0;
          }

          span.absolute {
            position: absolute;
            display: block;
            width: 100%;
            height: 36px;
            top: 22px;
            line-height: 36px;
            left: 0px;
          }

          span.text_p1 {
            clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
          }

          span.text_p2 {
            clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
          }

          span.text_p3 {
            clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
          }
        }
      }
    }

    div.uniswap_btn:hover {
      -webkit-animation: increaseSwapIn 0.2s linear forwards;
      -moz-animation: increaseSwapIn 0.2s linear forwards;
      animation: increaseSwapIn 0.2s linear forwards;
    }

    div.menu_btn {
      position: relative;
      width: var(--var-menu_btn_width);
      height: 100%;
      float: left;

      span.btn {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        line-height: 80px;
        font-size: 22px;
        cursor: pointer;
        font-family: var(--var-secondFont);
        color: var(--var-btn_color);
        z-index: 2;
      }

      span.loading_container {
        position: absolute;
        bottom: 18px;
        width: 100px;
        height: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        z-index: 1;

        span {
          display: block;
          width: 18px;
          height: 100%;
          background-color: var(--var-yellow);
          opacity: 0;
        }
      }
    }

    div.menu_btn:hover > span.loading_container {
      opacity: 1;
    }

    div.menu_btn:hover > span.loading_container > span {
      -webkit-animation-duration: 1.4s;
      -moz-animation-duration: 1.4s;
      animation-duration: 1.4s;

      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      animation-timing-function: linear;

      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }

    div.menu_btn:hover > span.loading_container > span.load1 {
      -webkit-animation-name: fadein1;
      -moz-animation-name: fadein1;
      animation-name: fadein1;
    }

    div.menu_btn:hover > span.loading_container > span.load2 {
      -webkit-animation-name: fadein2;
      -moz-animation-name: fadein2;
      animation-name: fadein2;
    }

    div.menu_btn:hover > span.loading_container > span.load3 {
      -webkit-animation-name: fadein3;
      -moz-animation-name: fadein3;
      animation-name: fadein3;
    }

    div.menu_btn:hover > span.loading_container > span.load4 {
      -webkit-animation-name: fadein4;
      -moz-animation-name: fadein4;
      animation-name: fadein4;
    }

    div.menu_btn:hover > span.loading_container > span.load5 {
      -webkit-animation-name: fadein5;
      -moz-animation-name: fadein5;
      animation-name: fadein5;
    }

    div.uniswap_white {
      position: absolute;
      top: 0px;
      right: var(--var-menu_btn_width);
      width: 30px;
      height: 100%;
      background-color: white;
      clip-path: polygon(100% 0%, 100% 100%, 0 100%);
    }
  }
}

// Animations

// Uniswap

@-moz-keyframes increaseSwapIn {
  0% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
}
@-webkit-keyframes increaseSwapIn {
  0% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
}
@keyframes increaseSwapIn {
  0% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
}

@-moz-keyframes increaseSwapOut {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
}
@-webkit-keyframes increaseSwapOut {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
}
@keyframes increaseSwapOut {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  }
}

// Menu Button

// fade 1
@-webkit-keyframes fadein1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fadein1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

// fade 2
@-webkit-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
  }
}

// fade 3
@-webkit-keyframes fadein3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

@-moz-keyframes fadein3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

// fade 4
@-webkit-keyframes fadein4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@-moz-keyframes fadein4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadein4 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

// fade 5
@-webkit-keyframes fadein5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein5 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  div#menu_btn {
    margin-left: 50px;
  }

  div.shibaswap_buy {
    display: none !important;
  }

  div.uniswap_btn {
    display: none !important;
  }

  div.uniswap_white {
    display: none !important;
  }

  div.buttons_container_bg {
    display: none !important;
  }

  div.mob_shibaswap {
    position: absolute;
    top: 0px;
    right: 238px;
    display: block !important;
    width: 128px;
    height: 70px;
    background-color: white;

    div.swap_angle_mob_shiba {
      position: absolute;
      width: 71px;
      height: 70px;
      left: -1px;
      top: 0px;
      background-color: black;
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    }
  }

  div.mob_uniswap {
    position: absolute;
    top: 0px;
    right: 108px;
    display: block !important;
    width: 160px;
    height: 70px;
    background-color: #ffbc32;

    div.swap_angle_mob_uniswap {
      position: absolute;
      width: 71px;
      height: 70px;
      left: -1px;
      top: 0px;
      background-color: white;
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    }
  }

  a.mob_shibaswap_link {
    position: absolute;
    display: block !important;
    top: 10px;
    right: 255px;
    width: 50px;
    height: 50px;
    img {
      display: block;
    }
  }

  a.mob_uniswap_link {
    position: absolute;
    display: block !important;
    top: 0px;
    right: 160px;
    width: 60px;
    height: 60px;
    img {
      display: block;
    }
  }
}

@media only screen and (max-width: 760px) {
  div.logo_text {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  div.mob_shibaswap {
    width: 110px;
    right: 200px;
  }

  div.mob_uniswap {
    width: 150px;
    right: 80px;
  }

  a.mob_shibaswap_link {
    top: 15px;
    right: 215px;
    width: 40px;
    height: 40px;
    img {
      width: 40px;
      height: 40px;
    }
  }

  a.mob_uniswap_link {
    top: 5px;
    right: 140px;
    width: 50px;
    height: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media only screen and (max-width: 510px) {
  div.logo {
    z-index: 60 !important;
  }
}
