.uniswap_btn {
  position: relative;
  width: 340px;
  height: 100%;
  background-color: #ffbc32;
  float: left;
  clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
  -webkit-animation: increaseSwapOut 0.2s linear forwards;
  -moz-animation: increaseSwapOut 0.2s linear forwards;
  animation: increaseSwapOut 0.2s linear forwards;
}

.a {
  display: block;
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  display: block;
  width: 60px;
  height: auto;
  margin-left: 30px;
  float: left;
}

.text_btn {
  position: relative;
  display: block;
  font-size: 30px;
  font-family: "gemunu";
  color: #000;
  height: 80px;
  font-weight: bold;
  margin-left: 15px;
  float: left;
  line-height: 80px;
}

.text_opacity {
  position: relative;
  opacity: 0;
}

.absolute {
  position: absolute;
  display: block;
  width: 100%;
  height: 36px;
  top: 22px;
  line-height: 36px;
  left: 0px;
}

.text_p1 {
  clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
}

.text_p2 {
  clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
}

.text_p3 {
  clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
}

.uniswap_white {
  position: absolute;
  top: 0px;
  right: 120px;
  width: 30px;
  height: 100%;
  background-color: white;
  clip-path: polygon(100% 0%, 100% 100%, 0 100%);
}
