div.contract_address {
    position : relative;
    width : calc(100% - 40px);
    height : 70px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
    background-color : #0E0E14;

    div.address {
        position : relative;
        width : 100%;
        height : 70px;
        line-height : 70px;
        font-size : 30px;
        color : white;
        text-align : center;

        span {
            color : #ffbc32;
        }
    }
}

@media only screen and (max-width: 860px) {
    div.contract_address {
        div.address {
            font-size : 20px;
        }
    }
}

@media only screen and (max-width: 680px) {
    div.contract_address {

        width : calc(100% - 20px);

        div.address {
            font-size : 20px;
        }
    }

}



@media only screen and (max-width: 580px) {
    div.contract_address {

        width : calc(100% - 20px);

        div.address {
            font-size : 16px;
            span {
                display : none;
            }
        }
    }

}