@font-face {
    font-family: 'terminator';
    src: url('../fonts/terminator.woff2') format('woff2'),
         url('../fonts/terminator.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'gemunu';
    src: url('../fonts/gemunu.woff2') format('woff2'),
        url('../fonts/gemunu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
