div.roadmap {
    position : relative;
    width : calc(100% - 40px);
    overflow : visible;
    margin-left : auto;
    margin-right : auto;
  
  
  
    div.roadmap_container {
        position : relative;
        width : 100%;

        background-color : #0e0e14;
        overflow : hidden;


        div.roadmap_text_container {
            position : relative;
            width : calc(100% - 420px);
            margin-left : 420px;
            min-height : 700px;
            padding-top : 30px;
            overflow : hidden;


            
            div.current_quarter {
                position : relative;
                width : calc(100% - 60px);
                margin-left : auto;
                margin-right : auto;
                color : white;
                z-index: 30;
        
              
        
        
                div.fade_background {
                    position : relative;
                    width : 100%;
                    overflow : hidden;
                    background-color : rgba(34, 36, 49, 0.4);
                    
                    
                    clip-path: polygon(0% 0%, 30% 0%, 30% 10px, 100% 10px, 100% 100%, 70% 100%, 70% calc(100% - 10px), 0% calc(100% - 10px));
                
                    div.text_container {
                        position : relative;

                        margin-top : 20px;
                        margin-bottom : 20px;

                        background-color : #222431;
                        padding : 20px;
                        padding-bottom : 30px;
                        margin-left : 20px;
                        margin-right : 20px;
                        
                        div.title {
                            position : relative;
                            width : 100%;
                            overflow : auto;
                            text-align : center;

                            font-size : 27px;
                            

                            span.date {
                                color : #ffbc32;
                                margin-left : 20px;
                                margin-right : 20px;
                            }
                        }

                        div.horizontal_sep {
                            position : relative;
                            width : calc(100% - 20px);
                            margin-left : auto;
                            margin-right : auto;
                            height : 2px;
                            background-color : #161620;
                            margin-top : 20px;
                            margin-bottom : 20px;
                        }

                        div.tasks {
                            position : relative;
                            overflow : hidden;
                            width : calc(100% - 20px);
                            margin-left : auto;
                            margin-right : auto;
                            display : flex;
                            align-items: stretch;
                            gap : 10px;

                           

                            div.task_group {
                                flex-grow : 1;
                                flex-basis: 0;
                                text-align : center;
                         

                                h3 {
                                    display: inline-block;
                                    text-align : center;
                                    font-size : 24px;
                                    margin-bottom : 20px;
                                    border-bottom-width : 1px;
                                    border-bottom-style: solid;
                                }

                                h3.comp {border-color : #5bbf5d;}
                                h3.prog {border-color : #ffbb32;}
                                h3.prep {border-color : #ff2100;}

                                h4 {
                                    text-align : center;
                                    padding-top : 4px;
                                    padding-bottom : 4px;
                                    font-size : 20px;
                                }
                            }

                            div.vertical_sep {
                                background-color : #161620;
                                width : 2px;
                            }

                            span.dots {
                                position : relative;
                                display : inline-block;
                                width : 12px;
                                height : 7px;
                                opacity: 0;
                            }

                            span.completed_dot {
                                background-image : url("../design/dots_completed.png");
                            }

                            span.progress_dot {
                                background-image : url("../design/dots_progress.png");
                            }

                            span.preparation_dot {
                                background-image : url("../design/dots_preparation.png");
                            }
                        }
                    }
                }
        
                div.corner_top {
                    position : absolute;
                    top : -10px;
                    left : -10px;
                    width : 40px;
                    height : 40px;
                    background-color : #222431;
                    clip-path: polygon(0% 0%, 100% 0%, 0% 100% );

                }
            
                div.corner_bottom {
                    position : absolute;
                    bottom : -10px;
                    right : -10px;
                    width : 40px;
                    height : 40px;
                    background-color : #222431;
                    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
                }
        
            }



            div.next_quarters {
                position : relative;
                width : calc(100% - 160px);
                margin-left : auto;
                margin-right : auto;
                overflow : auto;
                margin-bottom : 30px;
                margin-top : 30px;
                display : flex;
                align-items: stretch;
                gap : 10px;


                div.quarter_el {
                   
                   
                    flex-grow : 1;
                    flex-basis: 0;

                    div.title {
                        position : relative;
                        width : 100%;
                        overflow : auto;
                        text-align : center;
                        color : white;
                        font-size : 20px;
                        margin-bottom : 20px;
                        

                        span.date {
                            color : #ffbc32;
                            margin-left : 20px;
                            margin-right : 20px;
                        }
                    }

                    div.text {
                        position : relative;
                        width : calc(100% - 40px);
                        margin-left : auto;
                        margin-right : auto;
                        color : white;
                        text-align : center;
                    }
                }

                div.vertical_sep {
                    background-color : #161620;
                    width : 2px;
                }
            }
            
        }

        div.roadmap_history {
            position : absolute;
            width : 150px;
            overflow : auto;
            bottom : 160px;
            left : 20px;
            z-index : 20;

            div.list {
                position : relative;
                width : 100%;
                overflow : auto;
                margin-bottom : 50px;
                
                h3 {
                    font-size : 24px;
                    color : white;
                    margin-bottom : 10px;
                }

                h4 {
                    font-size : 18px;
                    padding-top : 4px;
                    padding-bottom : 4px;
                    color : white;
                }
                h4.comp {color : #5bbf5d;}
                h4.prog {color : #ffbb32;}
                h4.prep {color : #ff2100;}
            }


            .rm_btn {
                cursor : pointer;
            }
        }

        div.roadmap_image {
            position : absolute;
            width : 350px;
            overflow : visible;
            bottom : 0px;
            left : 60px;


            div.hand {
                position : relative;
                width : 100%;
                height : auto;
                img {
                    position: relative;
                    width : 100%;
                    height : auto;
                    display : block;
                    z-index : 10;
                }

                div.inner_comp {
                    position : absolute;
                    width : 20px;
                    height : 70px;
                    background-color : #5bbf5d;
                    left : 130px;
                    bottom : 238px;
                    z-index : 5;
                }

                div.inner_prog {
                    position : absolute;
                    width : 20px;
                    height : 50px;
                    background-color : #ffbb32;
                    left : 156px;
                    bottom : 238px;
                    z-index : 5;
                }

                div.inner_prep {
                    position : absolute;
                    width : 20px;
                    height : 20px;
                    background-color : #ff2100;
                    left : 180px;
                    bottom : 238px;
                    z-index : 5;
                }
            }

            div.token {
                position : absolute;
                top : 10px;
                right : 60px;
                width : 80px;

                img {
                    width : 100%;
                    height : auto;
                    display : block;
                }
            }

        }
    }



    div.roadmap_bottom_svg {
        position : absolute;
        width : 100%;
        height : auto;
        bottom : 0px;
        z-index : 100;
        img {
          display : block;
          width : 100%;
          height : auto;
        }
    }
}



@media only screen and (max-width: 1740px) {

    div.quarter_el {
        div.title {
            span {
                display : block;
            }
        }
    }

}


@media only screen and (max-width: 1370px) {

    div.roadmap_image {
        display : none;
    }

    div.roadmap_text_container {
        width : calc(100% - 150px) !important;
        margin-left : 150px !important;
    }
}


@media only screen and (max-width: 1100px) {

    div.roadmap_history {
        display : none;
    }

    div.roadmap_text_container {
        width : 100% !important;
        margin-left : 0px !important;
    }
}


@media only screen and (max-width: 946px) {

    div.roadmap_history {
        display : none;
    }

    div.tasks {
        flex-direction: column !important;
    }

    div.next_quarters {
        flex-direction: column !important;
    }
}



@media only screen and (max-width: 900px) {

    div.roadmap {
        width : 100%;
    }
}



@media only screen and (max-width: 600px) {

    div.current_quarter {
        div.title {
            span {
                display : block;
            }
        }
    }
}