div.token_info {
  position: relative;
  width: 100%;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  div.token_image {
    flex-grow: 1;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
    display: flex;

    div.token_image_container {
      position: relative;
      align-self: flex-end;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;

      img.tkn_images {
        height: auto;
        display: block;
        position: relative;
        float: left;
      }

      img.tkn_token {
        position: absolute;
        width: 53px;
        height: 53px;
        left: 186px;
        top: 126px;
        z-index: 5;
      }

      svg.token_wave {
        position: absolute;
        top: 110px;
        left: 170px;
        z-index: 4;

        circle.wave {
          opacity: 0.2;
        }
      }

      img.tkn_harmony {
        position: absolute;
        bottom: 0px;
        width: 260px;
      }

      img.tkn_box1 {
        width: 150px;
        margin-left: 170px;
      }

      img.tkn_box2 {
        width: 150px;
        margin-left: -45px;
      }

      img.tkn_box3 {
        width: 150px;
        margin-left: -45px;
      }

      img.tkn_box4 {
        width: 150px;
        margin-left: -50px;
      }

      img.tkn_box5 {
        width: 150px;
        margin-left: -50px;
      }
    }
  }

  div.token_info_border {
    position: relative;
    width: 420px;
    overflow: auto;
    background-color: black;
    clip-path: polygon(
      0% 50px,
      50px 0px,
      100% 0%,
      100% calc(100% - 50px),
      calc(100% - 50px) 100%,
      0px 100%
    );
    margin-right: 20px;
    z-index: 2;
    margin-bottom: 20px;

    div.token_info_container {
      position: relative;
      width: calc(100% - 8px);
      margin-top: 4px;
      margin-bottom: 4px;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--var-btn_color);
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;

      clip-path: polygon(
        0% 46px,
        46px 0px,
        100% 0%,
        100% calc(100% - 46px),
        calc(100% - 46px) 100%,
        0px 100%
      );

      div.token_info_element {
        position: relative;
        width: calc(100% - 60px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;

        div.info_title {
          position: relative;
          width: 100%;
          font-family: var(--var-secondFont);
          font-size: 16px;
          color: var(--var-yellow_bright);
        }

        div.info_data {
          position: relative;
          width: 100%;
          font-size: 16px;
          color: white;
          margin-top: 10px;
        }

        div.info_title:before {
          position: absolute;
          top: -5px;
          left: 0px;
          content: "[";
          color: white;
          font-size: 22px;
        }

        div.info_data:after {
          position: absolute;
          bottom: -2px;
          right: 0px;
          content: "]";
          color: white;
          font-family: var(--var-secondFont);
          font-size: 22px;
        }

        div#no_bracket:after {
          content: "";
        }

        div.info_links {
          position: relative;
          width: 100%;
          margin-top: 10px;
          display: flex;
          justify-content: flex-end;

          div.link_element {
            margin-left: 10px;
            background-color: #68696f;
            height: 24px;
            padding-top: 1px;
            padding-bottom: 1px;

            clip-path: polygon(
              0% 8px,
              8px 0px,
              100% 0%,
              100% calc(100% - 8px),
              calc(100% - 8px) 100%,
              0px 100%
            );

            a {
              height: 22px;
              display: block;
              background-color: var(--var-yellow);
              border-style: solid;
              border-color: var(--var-btn_color);
              border-width: 1px;
              padding-left: 10px;
              padding-right: 10px;
              line-height: 22px;
              margin-left: 1px;
              margin-right: 1px;
              color: var(--var-btn_color);
              transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
              clip-path: polygon(
                0% 4px,
                7px 0px,
                100% 0%,
                100% calc(100% - 7px),
                calc(100% - 7px) 100%,
                0px 100%
              );
            }
            span {
              height: 22px;
              display: block;
              background-color: var(--var-yellow);
              border-style: solid;
              border-color: var(--var-btn_color);
              border-width: 1px;
              padding-left: 10px;
              padding-right: 10px;
              line-height: 22px;
              margin-left: 1px;
              margin-right: 1px;
              color: var(--var-btn_color);
              transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
              clip-path: polygon(
                0% 4px,
                7px 0px,
                100% 0%,
                100% calc(100% - 7px),
                calc(100% - 7px) 100%,
                0px 100%
              );
              cursor: pointer;
            }

            a:hover {
              background-color: white;
            }
            span:hover {
              background-color: white;
            }
          }
        }

        div.hourglass {
          position: absolute;
          width: 25px;
          height: 25px;
          background-image: url("../../assets/hourglass3.png");
          background-size: cover;
          right: 60px;
          top: 47px;
        }
      }

      div.token_info_element:last-child {
        margin-bottom: 0px;
      }
    }
  }

  div.triangle_floor {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #878787;
    bottom: 0px;
    left: 0px;
    z-index: 1;

    clip-path: polygon(0% 0%, calc(100% - 20px) 100%, 0px 100%);
  }
}

@media only screen and (max-width: 1230px) {
  img.tkn_box5 {
    display: none !important;
  }
}

@media only screen and (max-width: 1126px) {
  img.tkn_box4 {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  img.tkn_box3 {
    display: none !important;
  }
}

@media only screen and (max-width: 920px) {
  img.tkn_box2 {
    display: none !important;
  }
}

@media only screen and (max-width: 870px) {
  img.tkn_box1 {
    display: none !important;
  }

  img.tkn_harmony {
    position: relative !important;
  }

  img.tkn_token {
    top: 108px !important;
  }

  svg.token_wave {
    top: 92px !important;
    left: 170px !important;
  }
}

@media only screen and (max-width: 800px) {
  img.tkn_harmony {
    position: relative !important;
    width: 200px !important;
  }

  img.tkn_token {
    top: 72px !important;
    left: 142px !important;
  }

  svg.token_wave {
    top: 56px !important;
    left: 126px !important;
  }
}

@media only screen and (max-width: 680px) {
  div.token_info_border {
    margin-bottom: 0px !important;
  }

  div.token_image {
    display: none !important;
  }

  div.token_info_border {
    width: 100% !important;
    margin-left: 20px !important;
  }

  div.triangle_floor {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  div.token_info_border {
    width: 100% !important;
    transform: translateX(0px) !important;

    div.token_info_container {
      div.token_info_element {
        div.info_title {
          font-size: 12px !important;
        }

        div.info_data {
          font-size: 12px !important;
        }
      }
    }
  }
}
