div.page_text {
  position: relative;
  width: calc(100% - 40px);
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #0e0e14;
  color: white;

  div.pt_info {
    position: relative;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    text-decoration: underline;
    color: #ffbc32;
  }

  div.pt_text {
    position: relative;
    width: calc(100% - 40px);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    div.pt_text_title {
      position: relative;
      font-size: 22px;
      margin-bottom: 10px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #ffbc32;
      display: inline-block;
    }

    div.pt_text_container {
      position: relative;
      width: 100%;
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 900px) {
}
