.bottom_btn {
  position: relative;
  display: inline-block;
  height: 36px;
  margin-left: 15px;
  margin-right: 15px;
}
// .bottom_button_text:hover {
//   padding-left: 15px;
//   padding-right: 15px;
// }
.bottom_button_text {
  position: relative;
  display: block;
  height: 22px;
  line-height: 20px;
  font-family: var(--var-secondFont);
  font-size: 14px;
  margin-top: 8px;
  color: white;

  padding-left: 25px;
  padding-right: 25px;
  z-index: 20;
}

.brackets_bottom {
  position: absolute;
  color: white;
  top: 3px;
  font-family: Gemunu Libre;
  font-size: 20px;
  line-height: 26px;
  z-index: 4;
  display: block;
}

.bracket_left_bottom {
  left: 0px;
  z-index: 19;
}

.bracket_right_bottom {
  right: 0px;
  z-index: 19;
}

div.bottom_icons {
  margin-top : 10px;
  width : 30px;
  height : 30px;
  display : none;
  cursor : pointer;
  overflow : hidden;
  text-indent : -999px;
  background-repeat: no-repeat;
}