

div.top {
    position : relative;
    background-color : black;
    width : calc(100% - 40px);
    height : 70px;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
    z-index : 201;

    div.buy_mobile {
      display : none;
    }

    div.logo {
      position : relative;
      height : 50px;
      padding-top : 10px;
      width : 262px;
      margin-left : 10px;

      a {
        position : relative;
        display : block;
        width : 100%;
        height : 50px;



        img.logo_first {
          float : left;
          display : block;
          width : 50px;
          height : 50px;
        }

        img.logo_second {
          position : absolute;
          top : 0px;
          left : 0px;
          width : 50px;
          height : 50px;
        }


        img.logo_text {
          float : left;
          display : block;
          margin-left : 10px;
        }
      }
    }

    div.logo:hover > a > img.logo_first {
      -webkit-animation:spin 0.5s linear forwards;
      -moz-animation:spin 0.5s linear forwards;
      animation:spin 0.5s linear forwards;

    }


    div.buttons_container_bg {
      position : absolute;
      top : -10px;
      right : 0px;
      height : 80px;
      width : $uniswap_btn_width;
      
      span {
        display : block;
        width : 100%;
        height : 100%;
        img {
          position : relative;
          display : block;
          width : 60px;
          height : auto;
          margin-left : 30px;
        }
      }
    }

    div.buttons_container {
      position : absolute;
      top : -10px;
      right : 0px;
      height : 80px;
      background-color : white;
      clip-path: polygon(0% 100%, 70px 0%, 100% 0%, 100% 100%);

      div.uniswap_btn {
        position : relative;
        width : $uniswap_btn_width;
        height : 100%;
        background-color : $yellow;
        float : left;
        clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
        -webkit-animation:increaseSwapOut 0.2s linear forwards;
        -moz-animation:increaseSwapOut 0.2s linear forwards;
        animation:increaseSwapOut 0.2s linear forwards;


        a{
          display : block;
          width : 100%;
          height : 100%;
          
          span.image {
            position : relative;
            display : block;
            width : 60px;
            height : auto;
            margin-left : 30px;
            float : left;

            img {
              width : 100%;
              height : 100%;
              display : block;
            }
          }

          span.text {
            position : relative;
            display : block;
            font-size : 30px;
            color : $btn_color;
            height : 80px;
            font-weight: bold;
            margin-left : 15px;
            float : left;
            line-height : 80px;

        

            span.text_opacity {
              position : relative;
              opacity : 0;
            }



            span.absolute {
              position : absolute;
              display : block;
              width : 100%;
              height : 36px;
              top : 22px;
              line-height : 36px;
              left : 0px;
            }

            span.text_p1 {
              clip-path: polygon(0% 100%, 100% 100%, 100% 66.6%, 0% 66.6%);
            }

            span.text_p2 {
              clip-path: polygon(0% 31.2%, 100% 31.2%, 100% 68.7%, 0% 68.7%);
            }

            span.text_p3 {
              clip-path: polygon(0% 33.3%, 100% 33.3%, 100% 0%, 0% 0%);
            }


          }
        }
      }


      div.uniswap_btn:hover {
        -webkit-animation:increaseSwapIn 0.2s linear forwards;
        -moz-animation:increaseSwapIn 0.2s linear forwards;
        animation:increaseSwapIn 0.2s linear forwards;
      }






      div.uniswap_white {
        position : absolute;
        top : 0px;
        right : $menu_btn_width;
        width : 30px;
        height : 100%;
        background-color : white;
        clip-path: polygon(100% 0%, 100% 100%, 0 100%);
      }
    }







 }
  





// Animations

// Logo

@-moz-keyframes spin { 
  0% {-moz-transform: rotate(0deg);}
  50% {-moz-transform: rotate(20deg);}
  100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin { 
    0% { -webkit-transform: rotate(0deg); } 
    50% { -webkit-transform: rotate(20deg); } 
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin { 
    0% { 
      -webkit-transform: rotate(0deg); 
      transform:rotate(0deg); 
    } 
    50% { 
      -webkit-transform: rotate(20deg); 
      transform:rotate(20deg); 
    } 
    100% { 
        -webkit-transform: rotate(0deg); 
        transform:rotate(0deg); 
    } 
}


// Uniswap

@-moz-keyframes increaseSwapIn { 
  0% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));}
  100% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%); } 
}
@-webkit-keyframes increaseSwapIn { 
    0% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));} 
    100% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);} 
}
@keyframes increaseSwapIn { 
    0% { 
      clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
    } 
    100% { 
      clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
    } 
}


@-moz-keyframes increaseSwapOut { 
  0% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%); } 
  100% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));}
  
}
@-webkit-keyframes increaseSwapOut { 
    0% {clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);} 
    100% {clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));} 

}
@keyframes increaseSwapOut { 
    0% { 
      clip-path: polygon(0% 100%, 0% 0%, 100% 0px, 100% 100%);
    } 
    100% { 
      clip-path: polygon(0% 100%, 70px 0%, 100% 10px, 100% calc(100% - 10px));
    } 

}




@media only screen and (max-width: 680px) {


  div.top {
    width : calc(100% - 20px);
    margin-top : 10px;
    div.logo {
      width : 50px;
      a{
        img.logo_text {
          display : none;
        }
      }
    }

    div.buttons_container_bg {
      display : none;
    }

    div.buttons_container {
      display : none;
    }

    div.buy_mobile {
      position : absolute;
      display : block;
      float : right;
      height : 40px;
      top : 15px;

      right : 15px;
      background-color : #ffbc32;
      clip-path: polygon(0% 10px, 10px 0px, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0px 100%);

      a {
        display : block;
        height : 40px;
        padding-left : 20px;
        padding-right : 20px;
        line-height : 40px;
        font-size : 26px;
        color : black;
      }
      
    }
  }



}