div.press_release {
  position: relative;
  width: calc(100% - 40px);
  overflow: visible;
  margin-left: auto;
  margin-right: auto;

  div.press_release_container {
    position: relative;
    width: 100%;

    background-color: #0e0e14;
    overflow: hidden;
    padding-bottom: 30px;

    div.pr_title {
      position: relative;
      width: 100%;
      overflow: auto;
      color: white;
      font-size: 30px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    div.pagination_container {
      position: relative;
      width: calc(100% - 40px);
      margin-left: auto;
      margin-right: auto;
      overflow: auto;
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      div {
        background-color: rgba(34, 36, 49, 0.4);
        padding: 10px;
        width: auto;
        cursor: pointer;
        color: white;
        font-size: 20px;
      }

      div:hover {
        background-color: white;
        color: black;
      }

      div.selected_pag {
        cursor: default;
        border-width: 1px;
        border-style: solid;
        border-color: #ffbc32;
      }

      div.dots:hover {
        background-color: rgba(34, 36, 49, 1);
        color: white;
        cursor: default;
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  div.line,
  div.logos {
    display: none !important;
  }
}
