div.calculator {
  position: relative;
  width: calc(100% - 40px);
  overflow: visible;
  margin-left: auto;
  margin-right: auto;

  div.calculator_container {
    position: relative;
    width: 100%;

    background-color: #0e0e14;
    overflow: hidden;

    div.calc_first {
      display: flex;
      width: 100%;

      div.image_container {
        flex-grow: 1;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: center;

        div.image {
          position: relative;
          width: 585px;
          height: 324px;
          overflow: hidden;
          align-self: flex-end;

          div.calc_egg {
            position: absolute;
            width: 585px;
            height: 324px;
            top: 0px;
            left: 0px;
            display: none;
            opacity: 0;
          }

          div.egg_80085 {
            background-image: url("../../assets/calculator/egg/80085.png");
          }

          div.egg_800 {
            background-image: url("../../assets/calculator/egg/800.png");
          }

          div.egg_90 {
            background-image: url("../../assets/calculator/egg/90.png");
          }

          div.egg_2026 {
            background-image: url("../../assets/calculator/egg/2026.png");
          }
          div.egg_021 {
            background-image: url("../../assets/calculator/egg/021.png");
          }

          div.bag {
            position: absolute;
            width: 221px;
            height: 242px;
            overflow: auto;
            bottom: 0px;
            left: 0px;
            z-index: 5;

            img.piece_bag {
              position: absolute;
              bottom: 0px;
              left: 0px;
            }

            img.piece_logo_cybr {
              position: absolute;
              width: 80px;
              height: 67px;
              bottom: 54px;
              left: 83px;
            }
          }

          div.calc {
            position: absolute;
            width: 228px;
            height: 324px;
            bottom: 0px;
            left: 192px;

            img.piece_calculator_main {
              position: absolute;
              top: 0px;
              left: 0px;
            }

            div.calc_text {
              position: absolute;
              width: 165px;
              height: 32px;
              line-height: 32px;
              top: 49px;
              left: 23px;
              overflow: hidden;

              div.visible_text {
                position: absolute;
                height: 32px;
                left: 165px;
                white-space: nowrap;
                font-size: 0px;
                font-family: "calc";

                span {
                  display: inline-block;
                  height: 32px;
                  width: 15px;
                  text-align: center;
                  line-height: 32px;
                  font-size: 30px;
                  font-family: "calc";
                  overflow: hidden;
                  margin-top: 2px;
                }

                span.space_text {
                  width: 165px;
                  line-height: 32px;
                }
              }

              div.hidden_text {
                display: none;
              }

              color: white;
              text-align: center;
              font-family: var(--var-mainFont);
              font-size: 32px;
            }

            div.calc_numbers {
              position: absolute;
              width: 165px;
              height: 32px;
              line-height: 32px;
              top: 49px;
              left: 23px;
              overflow: hidden;

              div.visible_text_numbers {
                position: absolute;
                height: 32px;
                right: 0px;
                white-space: nowrap;
                font-size: 0px;

                span {
                  display: inline-block;
                  height: 32px;
                  width: 15px;
                  text-align: center;
                  line-height: 32px;
                  font-size: 30px;
                  overflow: hidden;
                  margin-top: 2px;
                }
              }

              color: white;
              text-align: center;
              font-family: "calc";
              font-size: 32px;
            }

            div.calc_error {
              position: absolute;
              width: 165px;
              height: 32px;
              line-height: 32px;
              top: 49px;
              left: 23px;
              overflow: hidden;
              display: block;
              opacity: 0;

              div.visible_error {
                position: absolute;
                height: 32px;
                right: 0px;
                white-space: nowrap;
                font-size: 0px;

                span {
                  display: inline-block;
                  height: 32px;
                  width: 15px;
                  text-align: center;
                  line-height: 32px;
                  font-size: 30px;
                  overflow: hidden;
                  margin-top: 2px;
                }
              }

              color: white;
              text-align: center;
              font-family: "calc";
              font-size: 32px;
            }

            div.calc_line {
              position: absolute;
              width: 2px;
              height: 22px;
              top: 54px;
              right: 38px;
              display: none;
              background-color: white;
              -webkit-animation: flickerAnimation 1s infinite;
              -moz-animation: flickerAnimation 1s infinite;
              -o-animation: flickerAnimation 1s infinite;
              animation: flickerAnimation 1s infinite;
            }

            div.calc_shadow {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 228px;
              height: 324px;
              background-image: url("../../assets/calculator/screen_shadow.png");
            }
          }

          div.calc_copy {
            position: absolute;
            width: 228px;
            height: 324px;
            bottom: 0px;
            left: 192px;
            z-index: 10;
          }

          div.pen_hover {
            position: absolute;
            width: 263px;
            height: 269px;
            right: -5px;
            bottom: 0px;
            z-index: 50;
            clip-path: polygon(
              9% 84%,
              11% 84%,
              13% 86%,
              10% 92%,
              1% 98%,
              4% 88%
            );
          }

          div.pen {
            position: absolute;
            width: 263px;
            height: 269px;
            right: -5px;
            bottom: 0px;
            z-index: 5;

            img.piece_pen {
              position: absolute;
              width: 263px;
              height: 269px;
              right: 0px;
              bottom: 0px;
            }

            img.piece_feather {
              position: absolute;
              width: 263px;
              height: 269px;
              right: 0px;
              bottom: 0px;
            }

            img.piece_cyber {
              position: absolute;
              width: 263px;
              height: 269px;
              right: 0px;
              bottom: 0px;
              opacity: 0;
            }

            img.piece_main_feather {
              position: absolute;
              width: 263px;
              height: 269px;
              right: 0px;
              bottom: 0px;
            }

            div.piece_spark {
              position: absolute;
              width: 26px;
              height: 26px;
              bottom: 23px;
              left: 7px;
              display: flex;
              justify-content: center;

              div.piece_spark_el {
                width: 40%;
                height: auto;
                display: block;
                align-self: center;
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
            }
          }

          div.ink {
            position: absolute;
            width: 97px;
            height: 119px;
            right: 123px;
            bottom: 0px;

            img.piece_ink {
              position: absolute;
              width: 97px;
              height: 119px;
              top: 0px;
              left: 0px;
            }
          }
        }
      }

      div.calculator_form {
        width: 600px;
        margin-top: 20px;
        margin-right: 20px;

        div.calc_title {
          position: relative;
          width: 100%;
          text-align: center;
          font-size: 28px;
          color: white;
          height: 30px;
          margin-bottom: 20px;
        }

        div.calc_buttons {
          position: relative;
          width: 100%;
          height: 34px;
          display: flex;
          gap: 20px;

          div.continue_button {
            flex-grow: 1;
            background-color: #68696f;
            height: 34px;
            padding-top: 1px;
            padding-bottom: 1px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            -webkit-clip-path: polygon(
              0% 8px,
              8px 0px,
              100% 0%,
              100% calc(100% - 8px),
              calc(100% - 8px) 100%,
              0px 100%
            );
            clip-path: polygon(
              0% 8px,
              8px 0px,
              100% 0%,
              100% calc(100% - 8px),
              calc(100% - 8px) 100%,
              0px 100%
            );

            span {
              display: block;
              cursor: pointer;
              height: 32px;
              display: block;
              background-color: var(--var-yellow);
              font-size: 22px;
              line-height: 32px;
              text-align: center;
              border-style: solid;
              border-color: var(--var-btn_color);
              border-width: 1px;
              padding-left: 10px;
              padding-right: 10px;
              margin-left: 1px;
              margin-right: 1px;
              color: var(--var-btn_color);
              transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
              clip-path: polygon(
                0% 4px,
                7px 0px,
                100% 0%,
                100% calc(100% - 7px),
                calc(100% - 7px) 100%,
                0px 100%
              );
            }

            span:hover {
              background-color: white;
            }
          }
        }

        div.calc_box {
          position: relative;
          width: 100%;
          padding: 20px;
          background-color: rgba(34, 36, 49, 0.4);
          margin-top: 20px;

          div.no_top_margin {
            margin-top: 0px !important;
          }

          div.large_field {
            position: relative;
            width: 100%;
            overflow: hidden;

            div.input_text {
              font-size: 22px;
              color: white;
            }
            div.input_holder {
              margin-top: 10px;
              height: 34px;
              max-width: 100%;
              position: relative;
              font-size: 0px;
              display: flex;

              input {
                flex-grow: 1;
              }

              span.token_name {
                background-color: #ffbc32;
                width: 60px;
                text-align: center;
                line-height: 34px;
                font-size: 20px;
                display: inline-block;
              }
            }
          }

          div.double_field {
            position: relative;
            width: 100%;
            overflow: hidden;
            display: flex;
            margin-top: 20px;
            align-items: flex-end;

            div.or_field {
              width: 60px;
              color: white;
              height: 34px;
              line-height: 34px;
              text-align: center;
              margin-top: 33px;
            }

            div.half_field {
              flex-grow: 1;
              width: calc(50% - 30px);

              div.input_text {
                font-size: 22px;
                color: white;
              }

              div.input_holder {
                margin-top: 10px;
                height: 34px;
                width: 100%;
                position: relative;
                font-size: 0px;
                display: flex;

                input {
                  flex-grow: 1;
                  width: calc(100% - 60px);
                  text-indent: 10px;
                }

                span.token_name {
                  background-color: #ffbc32;
                  width: 60px;
                  text-align: center;
                  line-height: 34px;
                  font-size: 20px;
                  display: inline-block;
                }
              }
            }
          }

          div.estimated_container {
            position: relative;
            width: 100%;
            overflow: auto;
            margin-top: 20px;

            div.estimated_text {
              width: 100%;
              text-align: center;
              color: white;
              font-size: 28px;
            }

            div.estimated_number {
              width: 100%;
              text-align: center;
              color: #ffbc32;
              font-size: 34px;
            }
          }

          div.select_currency {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #161620;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: center;

            div.select_container {
              width: 340px;
              align-self: center;
              display: flex;
              flex-wrap: wrap;
              gap: 20px;
              justify-content: center;

              div.select_btn {
                width: 100px;
                height: 30px;
                background-color: white;
                font-size: 24px;
                text-align: center;
                line-height: 30px;
                clip-path: polygon(
                  0% 4px,
                  7px 0px,
                  100% 0%,
                  100% calc(100% - 7px),
                  calc(100% - 7px) 100%,
                  0px 100%
                );
                cursor: pointer;
              }

              div.select_btn:hover {
                background-color: #ffbc32;
                transform: scale(1.1);
              }
            }
          }

          div.select_token {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #161620;
            top: 0px;
            left: 0px;
            display: flex;
            justify-content: center;

            div.select_container {
              width: 340px;

              align-self: center;
              display: flex;
              flex-wrap: wrap;
              gap: 20px;

              div.select_btn {
                width: 100px;
                height: 30px;
                background-color: white;
                font-size: 24px;
                text-align: center;
                line-height: 30px;
                clip-path: polygon(
                  0% 4px,
                  7px 0px,
                  100% 0%,
                  100% calc(100% - 7px),
                  calc(100% - 7px) 100%,
                  0px 100%
                );
                cursor: pointer;
              }

              div.select_btn:hover {
                background-color: #ffbc32;
                transform: scale(1.1);
              }

              div.inactive_btn {
                cursor: default !important;
                background-color: #a3a3a3;
              }

              div.inactive_btn:hover {
                background-color: #a3a3a3 !important;
              }
            }
          }

          div.hide_select {
            display: none !important;
          }
        }
      }
    }

    div.calc_second {
      position: relative;
      width: calc(100% - 40px);
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      gap: 20px;

      div.calc_stats {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        overflow: auto;
        background-color: rgba(34, 36, 49, 0.4);

        div.calc_tittle {
          position: relative;
          margin-top: 20px;
          color: white;
          font-size: 28px;
          text-align: center;
          margin-left: 20px;
          margin-right: 20px;
          cursor: default;
        }

        div.horizontal_sep {
          position: relative;
          width: calc(100% - 40px);
          margin-left: auto;
          margin-right: auto;
          height: 2px;
          background-color: black;
          margin-top: 20px;
        }

        div.calc_stats_container {
          position: relative;
          width: calc(100% - 40px);
          margin-left: auto;
          margin-right: auto;
          display: flex;
          padding-bottom: 20px;

          div {
            flex-grow: 1;
            text-align: center;
            flex-shrink: 1;

            div.calc_subtitle {
              position: relative;
              font-size: 22px;
              color: white;
              padding-top: 10px;
              padding-bottom: 10px;
              border-bottom-width: 2px;
              border-bottom-color: black;
              border-bottom-style: solid;
              cursor: default;

              span.text {
                position: relative;
                color: white;
                padding-left: 10px;
              }

              span.text::after {
                position: absolute;
                content: "";
                height: 2px;
                width: calc(100% + 20px);
                top: 26px;
                left: 0px;
                background-color: #ffbc32;
              }

              span.simple_text {
                position: relative;
                padding-left: 10px;
                padding-right: 10px;
              }

              span.simple_text::after {
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                top: 26px;
                left: 0px;
                background-color: #ffbc32;
              }

              span.currency {
                background-color: #ffbc32;
                padding: 5px;
                display: inline-block;
                margin-left: 10px;
                color: black;
              }
            }

            div.extra_padding {
              padding-bottom: 15px !important;
              padding-top: 15px !important;
            }

            div.calc_stats_value {
              position: relative;
              font-size: 20px;
              color: white;
              padding-top: 10px;
              padding-bottom: 10px;
              cursor: default;

              span.token_logo {
                position: absolute;
                left: 0px;
                top: 10px;
                display: inline-block;
                width: 25px;
                height: 25px;
                background-size: cover;
              }

              span.ape {
                background-image: url("../../assets/tokens/ape.webp");
              }

              span.shiba {
                background-image: url("../../assets/tokens/shiba.png");
              }

              span.terra {
                background-image: url("../../assets/tokens/luna.webp");
              }

              span.floki {
                background-image: url("../../assets/tokens/floki.webp");
              }

              span.looks {
                background-image: url("../../assets/tokens/looks_icon.webp");
              }

              span.color_boxes {
                position: absolute;
                left: 10px;
                top: 18px;
                width: 12px;
                height: 7px;
              }

              span.color_box_red {
                background-image: url("../../assets/png/dots_preparation.png");
              }

              span.color_box_yellow {
                background-image: url("../../assets/png/dots_progress.png");
              }

              span.color_box_green {
                background-image: url("../../assets/png/dots_completed.png");
              }
            }

            div.hover_background {
              background-color: black !important;
            }
          }

          div.calc_stats_second {
            border-left-width: 2px;
            border-left-style: solid;
            border-left-color: black;
            border-right-width: 2px;
            border-right-style: solid;
            border-right-color: black;
          }

          div.calc_stats_border {
            border-right-width: 2px;
            border-right-style: solid;
            border-right-color: black;
          }

          div.calc_stats_project {
            position: relative;
            border-right-width: 2px;
            border-right-style: solid;
            border-right-color: black;
          }
        }
      }
    }
  }

  div.calculator_bottom_svg {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
    z-index: 100;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

div.calc {
  div.calc_buttons_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 324px;
    opacity: 0;
  }

  div.visible_opacity_half {
    opacity: 0.5 !important;
  }

  div.visible_opacity_full {
    opacity: 1 !important;
  }

  div.btn_calc_mc {
    background-image: url("../../assets/calculator/active/mc.png");
  }

  div.btn_calc_m_minus {
    background-image: url("../../assets/calculator/active/m_minus.png");
  }

  div.btn_calc_m_plus {
    background-image: url("../../assets/calculator/active/m_plus.png");
  }

  div.btn_calc_on {
    background-image: url("../../assets/calculator/active/on.png");
  }

  div.btn_calc_ce {
    background-image: url("../../assets/calculator/active/ce.png");
  }

  div.btn_calc_7 {
    background-image: url("../../assets/calculator/active/7.png");
  }

  div.btn_calc_8 {
    background-image: url("../../assets/calculator/active/8.png");
  }

  div.btn_calc_9 {
    background-image: url("../../assets/calculator/active/9.png");
  }

  div.btn_calc_divide {
    background-image: url("../../assets/calculator/active/divide.png");
  }

  div.btn_calc_multiply {
    background-image: url("../../assets/calculator/active/multiply.png");
  }

  div.btn_calc_4 {
    background-image: url("../../assets/calculator/active/4.png");
  }

  div.btn_calc_5 {
    background-image: url("../../assets/calculator/active/5.png");
  }

  div.btn_calc_6 {
    background-image: url("../../assets/calculator/active/6.png");
  }

  div.btn_calc_plus_minus {
    background-image: url("../../assets/calculator/active/plus_minus.png");
  }

  div.btn_calc_minus {
    background-image: url("../../assets/calculator/active/minus.png");
  }

  div.btn_calc_1 {
    background-image: url("../../assets/calculator/active/1.png");
  }

  div.btn_calc_2 {
    background-image: url("../../assets/calculator/active/2.png");
  }

  div.btn_calc_3 {
    background-image: url("../../assets/calculator/active/3.png");
  }

  div.btn_calc_radical {
    background-image: url("../../assets/calculator/active/radical.png");
  }

  div.btn_calc_plus {
    background-image: url("../../assets/calculator/active/plus.png");
  }

  div.btn_calc_0 {
    background-image: url("../../assets/calculator/active/0.png");
  }

  div.btn_calc_dot {
    background-image: url("../../assets/calculator/active/dot.png");
  }

  div.btn_calc_equal {
    background-image: url("../../assets/calculator/active/equal.png");
  }

  div.btn_calc_percent {
    background-image: url("../../assets/calculator/active/percent.png");
  }

  div.btn_calc_slash {
    background-image: url("../../assets/calculator/active/slash.png");
  }
}

div.calc_copy {
  div.calc_buttons_hover {
    overflow: hidden;
    text-indent: -9999px;
  }

  div.btn_calc_mc {
    position: absolute;
    width: 34px;
    height: 33px;
    top: 105px;
    left: 16px;
  }

  div.btn_calc_m_minus {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 105px;
    left: 53px;
  }

  div.btn_calc_m_plus {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 105px;
    left: 90px;
  }

  div.btn_calc_on {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 105px;
    left: 127px;
  }

  div.btn_calc_ce {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 105px;
    left: 164px;
  }

  div.btn_calc_7 {
    position: absolute;
    width: 34px;
    height: 33px;
    top: 141px;
    left: 16px;
  }

  div.btn_calc_8 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 141px;
    left: 53px;
  }

  div.btn_calc_9 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 141px;
    left: 90px;
  }

  div.btn_calc_divide {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 141px;
    left: 127px;
  }

  div.btn_calc_multiply {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 141px;
    left: 164px;
  }

  div.btn_calc_4 {
    position: absolute;
    width: 34px;
    height: 33px;
    top: 177px;
    left: 16px;
  }

  div.btn_calc_5 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 177px;
    left: 53px;
  }

  div.btn_calc_6 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 177px;
    left: 90px;
  }

  div.btn_calc_plus_minus {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 177px;
    left: 127px;
  }

  div.btn_calc_minus {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 177px;
    left: 164px;
  }

  div.btn_calc_1 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 213px;
    left: 16px;
  }

  div.btn_calc_2 {
    position: absolute;
    width: 33px;
    height: 34px;
    top: 213px;
    left: 53px;
  }

  div.btn_calc_3 {
    position: absolute;
    width: 33px;
    height: 34px;
    top: 213px;
    left: 90px;
  }

  div.btn_calc_radical {
    position: absolute;
    width: 33px;
    height: 34px;
    top: 213px;
    left: 127px;
  }

  div.btn_calc_plus {
    position: absolute;
    width: 33px;
    height: 34px;
    top: 213px;
    left: 164px;
  }

  div.btn_calc_0 {
    position: absolute;
    width: 33px;
    height: 34px;
    top: 250px;
    left: 16px;
  }

  div.btn_calc_dot {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 250px;
    left: 53px;
  }

  div.btn_calc_equal {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 250px;
    left: 90px;
  }

  div.btn_calc_percent {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 250px;
    left: 127px;
  }

  div.btn_calc_slash {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 250px;
    left: 164px;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1500px) {
  div.calculator > div.calculator_container > div.calc_second {
    display: block;

    div.calc_stats {
      display: block;
      width: 100% !important;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 1220px) {
  div.image_container {
    display: none !important;
  }

  div.calculator_form {
    width: 100% !important;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 830px) {
  div.calculator
    > div.calculator_container
    > div.calc_second
    > div.calc_stats_3 {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  div.calc_second {
    display: none !important;
  }

  div.calculator_container {
    div.calc_first {
      div.calculator_form {
        margin-bottom: 20px !important;

        div.calc_box {
          div.double_field {
            display: block !important;
            margin-top: 0px !important;

            div.half_field {
              width: 100% !important;
              margin-top: 20px;
            }

            div.or_field {
              display: none !important;
              width: 100% !important;
              margin-top: 0px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  div.calculator
    > div.calculator_container
    > div.calc_first
    > div.calculator_form
    > div.calc_buttons {
    height: auto;
    display: block !important;
  }
  div.calculator
    > div.calculator_container
    > div.calc_first
    > div.calculator_form
    > div.calc_buttons
    > div.continue_button:first-child {
    margin-bottom: 20px !important;
  }
}
