.logo {
  position: relative;
  height: 50px;
  margin-top: 10px;
  width: 262px;
  margin-left: 10px;

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;

    img {
      display: block;
    }

    img.interior_eye {
      position: absolute;
      top: 9px;
      left: 19px;
    }
  }
}
div.logo_text {
  position: absolute;
  top: 0px;
  left: 72px;
  height: 62px;
  padding-top: 10px;
  a {
    position: relative;
    font-size: 26px;
    height: 52px;
    line-height: 52px;
    padding-left: 10px;
    display: inline-block;
    color: white;
  }
}

div.logo:hover > a > img.logo_first {
  -webkit-animation: spin 0.5s linear forwards;
  -moz-animation: spin 0.5s linear forwards;
  animation: spin 0.5s linear forwards;
}
